<div class="settings-tab">
    <h5 >✨ Settings ✨</h5>
    <div class="settings-card">

        <div class="pictute-container">
            <i class="bi bi-camera "></i>
            <img class="profile-picture" [src]='userFromProfile!.picture' alt="Profile Picture">
            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
                <div class="file-upload">
                    {{fileName || "No file uploaded yet."}}
                    <button color="primary" class="upload-btn" (click)="fileUpload.click()">
                        Upload profile image
                    </button>
                </div>
        </div>

        <form >

        <div class="form-group">
            <input id="name" name="name" #name [(ngModel)]="userFromProfile!.name">
        </div>
    
        <div class="form-group username">
            <span>{{userFromProfile!.intraLogin}}</span>
        </div> 
    
        <div class="color-theme-container">
            <label> Color Theme: </label>
            <div class="color-options">
            <div class="color-option1" (click)="selectColorTheme1()"></div>
            <div class="color-option2" (click)="selectColorTheme2()"></div>
            <div class="color-option3" (click)="selectColorTheme3()"></div>
            <div class="color-option4" (click)="selectColorTheme4()"></div>
            </div>
        </div>
            <button type="button"
                    class="action-button"
                    id="save-settings"
                    (click)="updateUser()"
                    [ngClass]="{'deactivated' : !channelDetailsChanged()}">Save Settings
            </button>
        </form>
        <div>
            <div *ngIf="!this.userFromProfile!.tfa_enabled && this.qrString != ''; else otherContent">
                <img id="QR-code" src="{{this.qrString}}">
                <div><input id="two-factor-code-input" maxlength="6" [(ngModel)]="twoFactorCodeInput"></div>
               <div><button
                    class="action-button update-qa-status"
                    id="submit-button"
                    [ngClass]="{'deactivated' : twoFactorCodeInput?.length === 0 || !twoFactorCodeInput}"
                    (click)="submit2FACode()">Enable 2FA</button>
               </div>
            </div>
            <ng-template #otherContent>
                <div><button
                    id="Disable 2FA"
                    [ngClass]="{'deactivated' : twoFactorCodeInput?.length === 0 || !twoFactorCodeInput}"
                    (click)="disable2FA()">Disable 2FA</button>
               </div>
            </ng-template>
        </div>
    </div>
  </div>
  