<div class="settings-tab">
    <h5 >✨ Settings ✨</h5>
    <div class="settings-card">

        <div class="pictute-container">
            <i class="bi bi-camera "></i>
            <img class="profile-picture" [src]='profilePicture' alt="Profile Picture">
        </div>

        <form >

        <div class="form-group">
            <input type="text" id="name" placeholder="{{name}}">
        </div>
    
        <div class="form-group username">
            <span>{{username}}</span>
        </div> 
    
        <div class="color-theme-container">
            <label> Color Theme: </label>
            <div class="color-options">
            <div class="color-option1" (click)="selectColorTheme1()"></div>
            <div class="color-option2" (click)="selectColorTheme2()"></div>
            <div class="color-option3" (click)="selectColorTheme3()"></div>
            <div class="color-option4" (click)="selectColorTheme4()"></div>
            </div>
        </div>


            <button type="button" class="action-button" (click)="saveSettings()">Save Settings</button>
        </form>
        <div>
            <div>
                <button class="action-button update-qa-status"  (click)="updateStatus2FA()"> Enable 2fa </button>
            </div>
            <div *ngIf="!this.userFromProfile.tfa_enabled && this.qrString != ''" >
                <img id="QR-code" src="{{this.qrString}}">
                <div><input id="two-factor-code-input" maxlength="6" [(ngModel)]="twoFactorCodeInput"></div>
               <div><button
                    id="submit-button"
                    [ngClass]="{'deactivated' : twoFactorCodeInput?.length === 0 || !twoFactorCodeInput}"
                    (click)="submit2FACode()">Submit</button>
               </div>
            </div>
        </div>
    </div>
  </div>
  