body {
    margin: 0;
  }
  
  h5 {
    margin: 20px auto 30px auto;
    display: table;
  }
  
  .settings-tab {
    top: 0;
    padding: 40px;
    background-color: #ffffff;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    color: #171e2d;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .settings-card {
    border: 2px solid var(--color-light-blue);
    background-color: var(--color-light-blue);
    border-radius: 25px;
    padding: 50px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .bi-camera {
    display: flex;
    justify-content: center;
    font-size: 60px;
    align-items: center;
    color: #ffffff;
    margin-bottom: -100px;
  }


  .profile-picture {
    display: flex;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    object-fit: cover;
    background-color: var(--color-light-blue);
    filter: brightness(70%);
    cursor: pointer;
  }

  .profile-picture::before {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.profile-picture:hover::before {
    opacity: 5; 
}
  


  input {
    min-width: 500px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid var(--color-light-blue);
    text-align: center;
  }

  input::placeholder {
    color: var(--color-dark-blue);
  }

  .action-button {
    border: 2px solid var(--color-secondary);
    background-color: transparent;
    color: var(--color-secondary);
    padding: 10px 10px;
    font-size: 14px;
    margin: 20px 5px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .action-button:hover {
    background-color: var(--color-secondary);
    color: white;
  }
  
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }

  .username {
    color: var(--color-secondary);
    font-weight: 400;
  }
  
  label {
    font-weight: 400;
  }
  
  .color-theme-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.color-options {
    margin-top: 20px;
    display: flex;
    justify-items: center;
  }
  
  .color-option1 { 
    background-color: #171e2d;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;

  }
  
  .color-option2 { 
    background-color: #d581bc;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;

  }

  .color-option3 { 
    background-color: #6B8A47;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;

  }

  .color-option4 { 
    background-color: #0d4cde;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;

  }

  .color-option1:hover, .color-option2:hover,
  .color-option3:hover,.color-option4:hover {
    cursor: pointer;
  }


#QR-code, .update-qa-status {
  display: block;
  margin: auto;
}

.update-qa-status {
  margin-bottom: 16px;
}

#two-factor-code-input {
  font-size: 16px;
  border: none;
  letter-spacing: 0.4px;
}

input:focus {
  outline: none;
}

#submit-button {
  display: block;
  border-radius: 7px;
  height: 35px;
  width: 90px;
  padding-right: 16px;
  padding-left: 16px;
  font-weight: 300;
  border: 2px solid var(--color-secondary);
  background-color: var(--color-light-blue);
  color: var(--color-secondary);
  margin: auto;
}

#submit-button:hover {
  background-color: var(--color-secondary);
  color: white;
}

#submit-button.deactivated {
  border: 2px solid lightgrey;
  background-color: lightgrey;
  pointer-events: none;
  color: black;
}

:ng-deep *  {
  --color-dark-blue: #047934;
}