<div class="body">
  <app-navigation-bar></app-navigation-bar>
  <div class="user-page-container">
    <div class="main-content-container">
      <div class="profile-container">

        <div class="edit-icon" *ngIf="isThisMe">
          <i class="bi bi-pencil-square menu" (click)="selectMenuItem('settings')"> </i>
        </div>

          <div><img #statusRef 
                    [ngStyle]="{'border-color' : getStatusColor(status)}" 
                    [src]="user.picture"
                    class="profile-icon" 
                    alt="Profile Picture">
          </div>

        <div class="profile-info">
          <h5 class="name">{{user.name}}</h5>
          <h6 class="username">&commat;{{user.intraLogin}}</h6>
        </div>

        <div class="icon-set">
          <div class="icon-set-item" (click)="selectMenuItem('friends')" >
            <i class="bi bi-people"></i>
          </div>
          <div class="icon-set-item" (click)="selectMenuItem('statistics')">
            <i class="bi bi-bar-chart"></i>
          </div>
          <div class="icon-set-item" (click)="selectMenuItem('match-history')">
            <i class="bi bi-controller"></i>
          </div>
          <div class="icon-set-item"  (click)="selectMenuItem('achievements')">
            <i class="bi bi-trophy"></i>
          </div>
        </div>

      </div>
      <div class="content">
        <app-friends *ngIf="selectedMenuItem === 'friends'" 
                      [userId]="userId"
                      [isThisMe]="isThisMe">
        </app-friends>
        <app-achievements  *ngIf="selectedMenuItem === 'achievements'" 
                          [userId]="userId">
        </app-achievements>
        <app-match-history  *ngIf="selectedMenuItem ===  'match-history'" 
                            [userId]="userId">
        </app-match-history>
        <app-statistics *ngIf="selectedMenuItem ===  'statistics'" 
                        [userId]="userId">
        </app-statistics>
        <app-settings  *ngIf="selectedMenuItem === 'settings'"
                       [userFromProfile]="user">
        </app-settings>
  </div>
</div>