#dialogs {
  background-color: var(--color-light-blue);
  margin-left: 70px;
  height: 100%;
  min-height: 100vh;
}

.scrollable {
  overflow-y: auto;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

#search {
  position: sticky;
  padding: 10px 0 10px 20px;
  top: 0;
  height: 57px;
  z-index: 1;
  display: flex;
  box-shadow: 0 7px 17px -6px rgba(0,0,0,0.09);
  background-color: var(--color-light-blue);
}

.bi-plus-lg {
  font-size: 20px;
  color: grey;
  cursor: pointer;
  padding: 2px;
  margin-left: 8px;
  margin-right: 14px;
}

.bi-plus-lg:hover {
  color: darkgrey;
}

form {
  width: 100%;
  max-width: 700px;
}

#input-field-for-search {
  border-radius: 18px;
  padding-left: 20px;
  font-size: 14px;
}

.dialog {
  padding: 15px 15px 15px 20px;
}

.dialog:hover {
  background-color: var(--color-light-blue-lighter);
  cursor: pointer;
}