<div id="dialogs">
    <div id="search">
        <form>
            <input id="input-field-for-search"
                   class="form-control"
                   type="search"
                   placeholder="Search"
                   aria-label="Search"
                   #dialogToSearchFor
                   (input)="find(dialogToSearchFor.value)">
        </form>
        <i class="bi bi-plus-lg" (click)="showCreateChannelModal=true"></i>
    </div>
    <div id="all-available-dialogs" class="scrollable">
        <div class="dialog"
             *ngFor="let dialog of displayedDialogs"
             (click)="changeSelectedPerson(dialog.name!)"
             [ngClass]="{'selected-color': dialog.name! === this.selectedPerson}">
            <app-dialog [dialog]="dialog"></app-dialog>
        </div>
    </div>
</div>

<app-create-channel-modal
        *ngIf="showCreateChannelModal"
        (modalClose)="showCreateChannelModal=false">
</app-create-channel-modal>