#dialogs {
  background-color: #e6eef2;
  height: 100%;
  width: 260px;
  position: absolute;
  left: 70px;
  top: 57px;
}

#search {
  width: 220px;
  position: fixed;
  left: 90px;
  top: 10px;
  z-index: 2;
}

#separator-between-search-and-dialogs {
  box-shadow: 0 7px 17px -6px rgba(0,0,0,0.09);
  height: 57px;
  position: fixed;
  top: 0;
  width: 260px;
  background-color: #e6eef2;
  z-index: 1;
}

#input-field-for-search {
  border-radius: 18px;
  padding: 4px 4px 4px 15px;
  font-size: 14px;
}

#all-available-dialogs {
  padding: 15px 15px 15px 20px;
}
