<div id="channels">
    <div id="search" [ngClass]="{'padding-right' : users == undefined}">
        <form>
            <input id="input-field-for-search"
                   class="form-control"
                   type="search"
                   placeholder="Search"
                   aria-label="Search"
                   #dialogToSearchFor
                   (input)="find(dialogToSearchFor.value)">
        </form>
        <i class="bi bi-plus-lg" *ngIf="users" (click)="showCreateChannelModal=true"></i>
    </div>
    <div id="all-available-channels" class="scrollable">
        <div id="no-channels" *ngIf="noChannels()">You don't have any open conversations yet</div>
        <div class="channel"
             *ngFor="let channel of displayedChannels"
             (click)="changeSelectedChannel(channel.id!)"
             [ngClass]="{'selected-color': channel.id === this.selectedChannelId}">
            <app-dialog [channel]="channel"></app-dialog>
        </div>
    </div>
</div>

<app-create-channel-modal
        *ngIf="showCreateChannelModal"
        [users]="users"
        (modalClose)="showCreateChannelModal=false">
</app-create-channel-modal>