body {
  margin: 0;
}

.tab-container {
  padding: 40px;
  background-color: #ffffff;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  color: #171e2d;
}

h5 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: table;
  margin-bottom: 30px;
}

.friend-card {
  display: flex;
  width: 100%;
  padding: 20px;
  padding-left: 40px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-light-blue);
}

.friend-header {
  display: flex;
  align-items: center;
}

.friend-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 45px;
  background-color: var(--color-light-blue-darker);

}
.friend-picture img  {
  width: 70px;
  height: auto;
}

.friend-info {
  text-align: left;
}

.username {
  color: #4d6495;
}

.action-button {
  border: 2px solid #4d6495;
  background-color: transparent;
  color: #4d6495;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  justify-content: flex-end;
}

.action-button:hover {
  background-color: #4d6495;
  color: white;
}

.empty-list-container {
  padding: 20px 0;
  background-color: #ffffff;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  color: #4d6495;
  font-size: large;
}

.empty-list {
  padding: 70px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-light-blue);
}

.empty-list p {
  margin: 0;
}

button {
  justify-content: flex-end;
  display: flex;
}