<div class="tab-container">
  <h5> ✨ My Friends ✨ </h5>

  <mat-tab-group>

    <mat-tab label="Friends"> 
      <div class="empty-list-container" *ngIf="friendsList.length === 0" >
        <div class="empty-list">
          <p>{{placeHolderMessage}}</p>
        </div>
      </div>
      <div class="friend-card"  *ngFor="let friend of friendsList">
        <div class="friend-header">
          <div><img class="friend-picture" [src]='friend.picture' alt="Friend Picture"></div>
          <div class="friend-form">
            <div class="friend-info">
              <h3>{{ friend.name }}</h3>
              <p class="username">{{ friend.intraLogin }}</p>
            </div>
            <button class="action-button">Play</button>
            <button class="action-button">Block</button>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Pending"> 
      <div class="empty-list-container" *ngIf="pendingList.length === 0">
        <div class="empty-list">
          <p>{{placeHolderMessage}}</p>
        </div>
      </div>
      <div class="friend-card"  *ngFor="let user of pendingList">
        <div class="friend-header">
          <div><img class="friend-picture" [src]='user.picture' alt="Friend Picture"></div>
          <div class="friend-form">
            <div class="friend-info">
              <h3>{{ user.name }}</h3>
              <p class="username">{{ user.intraLogin }}</p>
            </div>
            <button class="action-button">Accept</button>
            <!-- <button class="action-button">Decline</button> -->
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Blocked">
      <div class="empty-list-container" *ngIf="blockedList.length === 0">
        <div class="empty-list">
          <p>{{placeHolderMessage}}</p>
        </div>
      </div>
      <div class="friend-card"  *ngFor="let user of blockedList">
        <div class="friend-header">
          <div><img class="friend-picture" [src]='user.picture' alt="Friend Picture"></div>
          <div class="friend-form">
            <div class="friend-info">
              <h3>{{ user.name }}</h3>
              <p class="username">{{ user.intraLogin }}</p>
            </div>
            <!-- <button class="action-button">Play</button> -->
            <button class="action-button">Unblock</button>
          </div>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>
