<div class="tab-container">
  <h5>  My Friends  </h5>
  <div class="empty-list-container" *ngIf="friendsList.length === 0" >
    <div class="empty-list">
      <p>{{placeHolderMessage}}</p>
    </div>
  </div>

  <mat-tab-group>

    <mat-tab label="Friends"> 
      <div class="friend-card"  *ngFor="let friend of friendsList">
        <div class="friend-header">
          <img class="friend-picture" [src]='friend.profilePicture' alt="Friend Picture">
          <div class="friend-info">
            <h3>{{ friend.name }}</h3>
            <p class="username">{{ friend.username }}</p>
            <button class="action-button">View Profile</button>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Pending"> 
      <div class="empty-list-container" >
        <div class="empty-list">
          <p>{{placeHolderMessage}}</p>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Blocked">
      <div class="empty-list-container" >
        <div class="empty-list">
          <p>{{placeHolderMessage}}</p>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>
