.dialog {
  display: flex;
}

.comrades-photo {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-right: 9px;
  object-fit: cover;
}

.name {
  font-weight: bold;
  font-size: 15px;
  margin-right: auto;
}

.time {
  font-weight: lighter;
  font-size: 12px;
  color: grey;
}

.message {
  font-size: 12px;
  color: grey;
  width: 90%;
  position: absolute;
  bottom: 1px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.name-time-message {
  line-height: normal;
  width: 700px;
  position: relative;
}

.name-time {
  display: flex;
  align-items: baseline;
}
