body {
  margin: 0;
}

.tab-container {
  padding: 40px;
  background-color: #ffffff;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  color: #171e2d;
}

h5 {
  margin: 20px auto 30px auto;
  display: table;
  color: var(--color-dark-blue);
}

.empty-list-container {
  padding: 20px 0;
  background-color: #ffffff;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  color: var(--color-secondary);
  font-size: large;
}

.empty-list {
  padding: 70px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-light-blue);
}

.empty-list p {
  margin: 0;
}

.match-history-record {
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  min-height: 170px;
}

.match-info {
  margin-top: 20px;
  margin-bottom: 20px;
}

.result {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.match-card {
  display: flex;
  padding: 20px;
  padding-left: 40px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-light-blue);
}

.header {
  display: flex;
  align-items: center;
}

.picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 40px;
  margin-left: 40px;
  background-color: var(--color-light-blue-darker);
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.username {
  color: var(--color-secondary);
  margin-top: 5px;
}
