<div id="dialog-header">
    <span id="selected-person">{{selectedPerson}}</span>
    <div class="dropdown">
        <i class="bi bi-three-dots-vertical"></i>
        <div class="dropdown-content">
            <div id="invite-action" (click)="showNotificationForFewSeconds()">
                <i class="bi bi-dice-2 game-icon"></i>
                <i class="bi bi-dice-2-fill game-icon-hidden">
                </i>Invite to play
            </div>
            <div id="block-action" (click)="showBlockModal=true">
                <i class="bi bi-person-slash block-icon">
                </i>Block
            </div>
        </div>
    </div>
</div>

<app-invitation-received-notification
    *ngIf="showInviteNotification"
    (notificationClose)="showInviteNotification=false">
</app-invitation-received-notification>

<app-block-modal
        *ngIf="showBlockModal"
        (modalClose)="showBlockModal=false">
</app-block-modal>