<div id="dialog-header">
    <span id="selected-person">{{channel?.name}}</span>
    <i class="bi bi-pen" *ngIf="!isDialog()" (click)="showEditModal=true"></i>
    <div class="dropdown" *ngIf="selectedDialogPartner">
        <i class="bi bi-three-dots-vertical"></i>
        <div class="dropdown-content">
            <div id="invite-action" (click)="showInviteNotificationForFewSeconds()">
                <i class="bi bi-dice-2 game-icon"></i>
                <i class="bi bi-dice-2-fill game-icon-hidden">
                </i>Invite to play
            </div>
            <div id="befriend-action" *ngIf="selectedPersonBefriendable" (click)="sendAFriendRequest()">
                <i class="bi bi-people befriend-icon">
                </i>Add to friends
            </div>
            <div id="block-action" (click)="showBlockModal=true">
                <i class="bi bi-person-slash block-icon">
                </i>Block
            </div>
        </div>
    </div>
</div>

<app-invitation-to-play-received-notification
    *ngIf="showInvitedToPlayNotification"
    [selectedPerson]="selectedDialogPartner"
    (notificationClose)="showInvitedToPlayNotification=false">
</app-invitation-to-play-received-notification>

<app-invitation-to-be-friends-received-notification
        *ngIf="showInvitedToBeFriendsNotification"
        [selectedPerson]="selectedDialogPartner"
        (notificationClose)="showInvitedToPlayNotification=false">
</app-invitation-to-be-friends-received-notification>

<app-block-modal
        *ngIf="showBlockModal"
        [selectedPerson]="selectedDialogPartner"
        (modalClose)="showBlockModal=false">
</app-block-modal>

<app-edit-channel-modal
        *ngIf="showEditModal"
        (modalClose)="showEditModal=false">
</app-edit-channel-modal>