<div id="dialog-header">
    <span
        id="selected-person"
        [ngClass]="{'clickable' : selectedDialogPartner, 'non-clickable' : !selectedDialogPartner}">{{channel?.name}}</span>
    <i class="bi bi-box-arrow-right" *ngIf="!isDialog() && channel" (click)="showLeaveModal=true"></i>
    <i class="bi bi-pen" *ngIf="!isDialog() && channel" (click)="showEditModal=true"></i>
    <div class="dropdown" *ngIf="selectedDialogPartner && isDialog()">
        <i class="bi bi-three-dots-vertical"></i>
        <div class="dropdown-content">
            <div id="invite-action" *ngIf="!isBlocking && !invitationToPlayExists && !isBlocked" (click)="inviteUserToPlay()">
                <i class="bi bi-dice-2 game-icon"></i>
                <i class="bi bi-dice-2-fill game-icon-hidden">
                </i>Invite to play
            </div>
            <div id="befriend-action" *ngIf="selectedPersonBefriendable && !isBlocking && !isBlocked" (click)="sendAFriendRequest()">
                <i class="bi bi-people befriend-icon">
                </i>Add to friends
            </div>
            <div id="block-action" *ngIf="!isBlocking" (click)="showBlockModal=true">
                <i class="bi bi-person-slash block-icon">
                </i>Block
            </div>
            <div id="unblock-action" *ngIf="isBlocking" (click)="unblock()">
                <i class="bi bi-person-plus">
                </i>Unblock
            </div>
        </div>
    </div>
</div>

<app-invitation-to-play-received-notification
    *ngIf="showInvitedToPlayNotification"
    [selectedPerson]="selectedDialogPartner"
    (notificationClose)="showInvitedToPlayNotification=false">
</app-invitation-to-play-received-notification>

<app-invitation-to-be-friends-received-notification
        *ngIf="showInvitedToBeFriendsNotification"
        [selectedPerson]="selectedDialogPartner"
        (notificationClose)="showInvitedToPlayNotification=false">
</app-invitation-to-be-friends-received-notification>

<app-user-unblocked-notification
        *ngIf="showUserUnblockedNotification"
        [selectedPerson]="selectedDialogPartner"
        (notificationClose)="showUserUnblockedNotification=false">
</app-user-unblocked-notification>

<app-block-modal
        *ngIf="showBlockModal"
        [authenticatedUser]="authenticatedUser"
        [selectedPerson]="selectedDialogPartner"
        (modalClose)="showBlockModal=false">
</app-block-modal>

<app-edit-channel-modal
        *ngIf="showEditModal"
        [channel]="channel"
        [channelParticipants]="participants"
        [admins]="admins"
        [authenticatedUser]="authenticatedUser"
        (modalClose)="showEditModal=false">
</app-edit-channel-modal>

<app-leave-channel-modal
        *ngIf="showLeaveModal"
        (modalClose)="makeDecisionToLeaveOrStay($event)">
</app-leave-channel-modal>