#dialog-header {
    height: 57px;
    box-shadow: 0 7px 17px -6px rgba(0,0,0,0.09);
    padding: 13px 13px 13px 20px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

#selected-person {
    font-weight: bold;
    font-size: 15px;
}

.dropdown {
    display: inline-block;
    float: right;
}

.bi-three-dots-vertical {
    cursor: pointer;
    padding: 3px 6px;
    border-radius: 6px;
    color: grey;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 145px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.09);
    z-index: 1;
    border-radius: 8px;
}

.dropdown-content div {
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

.bi {
    margin-right: 8px;
}

.game-icon-hidden {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.bi-three-dots-vertical:hover {
    color: darkgrey;
}

.dropdown-content div:hover {
    background-color: var(--color-light-gray);
    border-radius: 8px;
}

#invite-action:hover .game-icon {
    display: none;
}

#invite-action:hover .game-icon-hidden {
    display: inline;
    color: var(--color-orange);
}

#block-action:hover .block-icon {
    color: dimgray;
}

#befriend-action:hover .befriend-icon {
    color: var(--color-orange);
}

.bi-pen {
    float: right;
    cursor: pointer;
    padding: 0 6px;
    border-radius: 6px;
    color: grey;
}

@media (max-width: 800px) {
    #selected-person {
        position: absolute;
        width: 80%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}