<div class="body">
  <app-navigation-bar></app-navigation-bar>
  <div class="user-page-container">
    <div class="main-content-container">
      <div class="profile-container">

        <div class="edit-icon">
          <i class="bi bi-pencil-square menu" (click)="selectMenuItem('settings')"> </i>
        </div>

        <div class="profile-icon">
          <img [src]="user.picture" alt="Profile Picture">
        </div>

        <div class="profile-info">
          <h5 class="name">{{user.name}}</h5>
          <h6 class="username">{{user.intraLogin}}</h6>
        </div>

        <div class="icon-set">
          <div class="icon-set-item" (click)="selectMenuItem('friends')" >
            <i class="bi bi-people"></i>
          </div>
          <div class="icon-set-item" (click)="selectMenuItem('statistics')">
            <i class="bi bi-bar-chart"></i>
          </div>
          <div class="icon-set-item" (click)="selectMenuItem('match-history')">
            <i class="bi bi-controller"></i>
          </div>
          <div class="icon-set-item"  (click)="selectMenuItem('achievements')">
            <i class="bi bi-trophy"></i>
          </div>
        </div>

      </div>
      <div class="content">
        <app-friends  *ngIf="selectedMenuItem === 'friends'"></app-friends>
        <app-achievements  *ngIf="selectedMenuItem === 'achievements'"></app-achievements>
        <app-match-history  *ngIf="selectedMenuItem ===  'match-history'"></app-match-history>
        <app-statistics *ngIf="selectedMenuItem ===  'statistics'"></app-statistics>
        <app-settings  *ngIf="selectedMenuItem === 'settings'"
                      [name]="user.name" 
                      [username]="user.intraLogin"
                      [profilePicture]="user.picture">
         </app-settings>
  </div>
</div>