.body {
  margin: 0;
  background-color: var(--color-dark-blue);
}

.user-page-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 75px;
  min-height: 100vh;
  border-radius: 20px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  overflow: hidden;
  position: relative;
  z-index: 999;
}

.main-content-container {
  display: flex;
  justify-content: space-between;
}

.content {
  flex: 1; 
}

.user-page-container {
  display: flex;
  align-items: stretch;
  height: 100%;
  background-color: #e5eef1;
}

.profile-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 20px;
  border-radius: 25px;
}

.profile-icon {
  overflow: hidden;
  justify-content: center;
}

.profile-icon img {
  margin: 20px;
  border-radius: 50%;
  width: 100px;
  height: auto;
  box-shadow: 0 2px 20px rgb(255, 255, 255);
}

.username {
  color: #4d6495;
  text-align: center;
}

.name {
  color: var(--color-dark-blue);
}

.edit-icon {
  position: absolute;
  left: 300px;
  top: 30px;
  color: rgb(102, 100, 147);

}

.menu:hover {
  color: rgb(28, 26, 103);
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}

.gear-icon {
  position: absolute;
  left: 350px;
  top: 30px;
}
.menu {
  margin: 10px;
  font-size: 25px;
  color:#4d6495;
}

.icon-set {
  display:flex;
  margin-top:20px;
}

.icon-set-item {
  margin: 7px;
  width: 50px;
  padding-top: 5px;
  height: 50px;
  font-size: 25px;
  color: white;
  text-align: center;
  border-radius: 50%;
  background-color: var(--color-dark-blue);
}

.icon-set-item:hover {
  background-color: white;
  color: var(--color-dark-blue);
  cursor: pointer;
  box-shadow: 0 2px 20px rgba(255, 255, 255, 0.845);
}