<div class="tab-container">
  <h5> ✨ My Friends ✨ </h5>

  <mat-tab-group>

    <mat-tab label="Friends"> 
      <div class="empty-list-container" *ngIf="friendsList.length === 0" >
        <div class="empty-list">
          <p>{{placeHolderMessage}}</p>
        </div>
      </div>
      <div class="friend-card"  *ngFor="let friend of friendsList">
        <div class="friend-header">
          <div><img class="friend-picture" [src]='friend.picture' alt="Friend Picture"></div>
          <div class="friend-form">
            <div class="friend-info">
              <h3>{{ friend.name }}</h3>
              <p class="username">{{ friend.intraLogin }}</p>
            </div>
            <button class="action-button play" (click)="inviteToPlay()">Play<i class="bi bi-dice-2 icon-item"></i></button>
            <button class="action-button block" (click)="blockUser(friend)" >Block<i class="bi bi-ban icon-item"></i></button>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Requests"> 
      <div class="empty-list-container" *ngIf="pendingList.length === 0">
        <div class="empty-list">
          <p>{{placeHolderMessage}}</p>
        </div>
      </div>
      <div class="friend-card"  *ngFor="let user of pendingList">
        <div class="friend-header">
          <div><img class="friend-picture" [src]='user.picture' alt="Friend Picture"></div>
          <div class="friend-form">
            <div class="friend-info">
              <h3>{{ user.name }}</h3>
              <p class="username">{{ user.intraLogin }} wants to be your friend </p>
            </div>
            <button class="action-button accept" (click)="acceptFriendRequest(user)">Accept<i class="bi bi-check-circle icon-item"></i></button>
            <button class="action-button decline" (click)="declineFriendRequest(user)">Decline<i class="bi bi-x-circle icon-item"></i></button>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Invitations">
      <div class="empty-list-container" *ngIf="inviteList.length === 0">
        <div class="empty-list">
          <p>{{placeHolderMessage}}</p>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Blocked">
      <div class="empty-list-container" *ngIf="blockedList.length === 0">
        <div class="empty-list">
          <p>{{placeHolderMessage}}</p>
        </div>
      </div>
      <div class="friend-card"  *ngFor="let user of blockedList">
        <div class="friend-header">
          <div><img class="friend-picture" [src]='user.picture' alt="Friend Picture"></div>
          <div class="friend-form">
            <div class="friend-info">
              <h3>{{ user.name }}</h3>
              <p class="username">{{ user.intraLogin }}</p>
            </div>
            <button class="action-button" (click)="unBlock(user)">Unblock</button>
          </div>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>
