cbody {
  margin: 0;
}

.tab-container {
  padding: 40px;
  background-color: #ffffff;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  color: var(--color-dark-blue);
}

h5 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: table;
  margin-bottom: 30px;
}

.friend-card {
  display: flex;
  padding: 20px;
  padding-left: 40px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-light-blue);
}

.friend-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.friend-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-right: 25px;
}

.friend-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 45px;
  background-color: var(--color-light-blue-darker);
  object-fit: cover;
}

.friend-picture:hover {
  cursor: pointer;
}

.friend-info {
  width: 100%;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.username {
  color: var(--color-secondary);
}

.action-button {
  border: 2px solid var(--color-secondary);
  background-color: transparent;
  color: var(--color-secondary);
  padding: 10px 10px;
  font-size: 14px;
  margin: 20px 5px;
  cursor: pointer;
  border-radius: 4px;
}

.action-button:hover {
  background-color: var(--color-secondary);
  color: white;
}

.empty-list-container {
  padding: 20px 0;
  background-color: #ffffff;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  color: var(--color-secondary);
  font-size: large;
}

.empty-list {
  padding: 70px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-light-blue);
}

.empty-list p {
  margin: 0;
}

button {
  width: 100px;
}

.icon-item {
  font-size: 15px;
  padding: 5 10px;
  cursor: pointer;
  border-radius: 4px;
}

.block {
  border-color: rgb(180, 60, 60);
  color: rgb(180, 60, 60);
}

.block:hover {
  color: white;
  background-color: #783C3C;
}

.decline {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #913737;
  border: 2px solid #783C3C;
  /* border-color: transparent; */
}

.decline:hover {
  background-color: #783C3C;
  color: #ffffff;
  cursor: pointer;
}

.accept {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #507850;
  border: 2px solid #507850;
  /* border-color: transparent; */
}

.accept:hover {
  background-color: rgb(80, 120, 80);
  color: #ffffff;
  cursor: pointer;
}

.action-button i {
  margin-left: 5px;
}
