
<div class="auth">
    <h1>Welcome to HerTranscendence</h1>
  <div class="container">
    <div class="left-side">
        <div class="header-container">
        <h4>Her Transcendence created to pass the final project of 42 common core.</h4>
        <h4>So, check it and enjoy the process.</h4>
        </div>
        <div class="button-container">
        <a href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-5a4bc01942884454d8a8e0d4d33299173e021c558d042e3711ba18c01ffd2ac3&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2F42-redirect&response_type=code">
            <button id="toapi" class="sign-in-button">Sign in with 42</button>
        </a>
        </div>
    </div>

        <div class="right-side">
            <div class="right-container">
                <div class="paddle">
                    <div class="solid">
                    <div class="surface"></div>
                    <div class="hold">
                        <div class="top"></div>
                        <div class="transition"></div>
                        <div class="handle"></div>
                    </div>
                    </div>
                    <div class="wiggly">
                    <div class="string"></div>
                    <div class="ball"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>