<!--<p>Here user will be asked to register or to login</p>-->
<!--<ul>Among things to be used here are:-->
<!--    <li>QAuth system of 42 Intranet</li>-->
<!--    <li>two-factor authentication</li>-->
<!--</ul>-->

<div class="container">
    <div class="header-container">
        <h1>Welcome to Her Transcendence</h1>
        <h4>Her Transcendence created to pass final project of 42 common core.</h4>
        <h4>So, check it and enjoy the process.</h4>
    </div>
    <div class="button-container">

        <a href="http://localhost:3000/auth/42">
            <button id="toapi" class="sign-in-button">Sign in with 42</button>
        </a>
    </div>
</div>

