<div class="edit-channel-modal">
    <div class="edit-channel-inner-modal">
        <div class="exit-icon">
            <i class="bi bi-x-lg" (click)="modalClose.emit()"></i>
        </div>
        <div class="container channel-details">
            <div><img class="channel-photo" [src]="channel?.picture" alt=""></div>
            <div><input #name [(ngModel)]="channel!.name"></div>
        </div>
        <div class="all-participants">
            <div class="participant" *ngFor="let participant of channelParticipants">
                <img [src]="participant.picture">
                <span>{{participant.name}}</span>
                <span class="owner" *ngIf="isOwner(participant)">Owner</span>
                <span class="admin" *ngIf="isAdmin(participant)">Admin</span>
            </div>
        </div>
        <div class="channel-type" *ngIf="isAuthenticatedUserOwner()">
            <i class="bi bi-people"></i>
            <span class="channel-type-text">Channel type</span>
            <div class="current-type" (click)="displayTypes=true">{{channel?.type! | titlecase}}</div>
            <div class="dropdown" *ngIf="displayTypes">
                <div class="dropdown-content">
                    <div id="private" *ngIf="!isCurrentTypePrivate()" (click)="changeTypeToPrivate()">Private</div>
                    <div id="public" *ngIf="!isCurrentTypePublic()" (click)="changeTypeToPublic()">Public</div>
                    <div id="password-protected" *ngIf="!isCurrentTypePasswordProtected()" (click)="changeTypeToPasswordProtected()">Password-protected</div>
                </div>
            </div>
        </div>
        <div id="buttons" class="container">
            <button
                    id="apply-changes-button"
                    (click)="changeChannelDetails()"
                    [ngClass]="{'deactivated' : !channelDetailsChanged()}">Save</button>
        </div>
    </div>
</div>