<div #wholeSelectedDialogContainer id="whole-selected-dialog">
    <app-selected-dialog-header
            [selectedPerson]="selectedPerson"
            [selectedPersonBefriendable]="selectedPersonBefriendable">
    </app-selected-dialog-header>
    <div id="selected-dialog-body">
        <div class="message-history-parent">
            <div id="message-history" *ngFor="let message of selectedDialog?.messageHistory">
                <app-message [message]="message"></app-message>
            </div>
        </div>
        <div id="write-message-form">
            <input  id="write-message-input"
                    placeholder="Write a message..."
                    [(ngModel)]="message"
                    (keyup.enter)="sendMessage()">
        </div>
    </div>
</div>
