<div #wholeSelectedDialogContainer id="whole-selected-dialog">
    <app-selected-dialog-header
            [selectedChannelId]="selectedChannelId"
            [authenticatedUser]="authenticatedUser"
            (userBlocked)="isBlocked=$event">
    </app-selected-dialog-header>
    <div id="selected-dialog-body">
        <div class="message-history-parent">
            <div id="message-history" *ngFor="let message of selectedDialog">
                <app-message [message]="message"></app-message>
            </div>
        </div>
        <div id="write-message-form" *ngIf="selectedChannelId && !isMuted && !isBlocked">
            <input id="write-message-input"
                   placeholder="Write a message..."
                   [(ngModel)]="message"
                   (keyup.enter)="sendChannelMessage()">
        </div>
    </div>
</div>
