#whole-selected-dialog {
  overflow-y: auto;
  height: 100vh;
}

.message-history-parent {
  padding-bottom: 60px;
}

#message-history {
  position: relative;
}

#write-message-form {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 1px 17px rgba(0,0,0,0.09);
}

 #write-message-input {
   font-size: 13px;
   font-weight: 300;
   height: 50px;
   width: 100%;
   border: none;
   padding: 20px;
 }

#write-message-input:focus {
  outline: none;
}