<div class="wish-to-exit-modal">
    <div class="wish-to-exit-inner-modal">
        <div class="exit-icon">
            <i class="bi bi-x-lg" (click)="modalClose.emit()"></i>
        </div>
        <div class="container">
            <div id="enter-password-text">In order to join this channel you need to enter the password:</div>
            <div class="password">
                <i class="bi bi-key"></i>
                <div class="password-form"><input type="password" class="password-input" [(ngModel)]="enteredPassword">
                </div>
            </div>
        </div>
        <div id="buttons">
            <button id="submit-button" [ngClass]="{'deactivated' : !passwordEntered()}">Submit</button>
        </div>
    </div>
</div>