#whole-game {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 100vh;
}

.canvas {
    position: relative;

}

#pongCanvas {
    /* position: relative; */
    height: 700px;
    width: 700px;
    background-image: linear-gradient(
            to right, var(--color-light-blue), var(--color-light-blue-darker));
    border-radius: 14px;
}

.ball {
    border-radius: 50%;
    position: absolute;
    background-color: #48426d;
}


.paddle {
    height: 100px;
    width: 18px;
    /* border-radius: 50%;  */
    position: absolute;
}

.paddle_1 {
    left: calc(10vw + 30px);
    background-color: var(--color-dark-blue);
}

.paddle_2 {
    right: calc(10vw + 30px);
    background-color: var(--color-dark-blue);
}

.player_1_score {
    height: 50px;
    width: 50px;
    color: var(--color-dark-blue);
    position: fixed;
    left: 30vw;
    margin-top: 30px;
}

.player_2_score {
    height: 50px;
    width: 50px;
    color: var(--color-dark-blue);
    position: fixed;
    left: 70vw;
    margin-top: 30px;
}

.message {
    position: fixed;
    color: #48426d;
    height: 10vh;
    width: 30vw;
    color: #c9cbff;
    left: 38vw;
    margin: 30px auto auto auto;
    justify-content: center;
}

app-wait-for-the-game-page {
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}