<link rel="stylesheet" href="./game.component.css">
<app-navigation-bar [navigationStatus]="NavigationBarStatus.GAME"></app-navigation-bar>
<div id="whole-game" *ngIf="gameState !== 0">
    <div class="user-info user-info-left">
        <img class="user-picture" [src]="leftUser.picture" alt="User 1 Picture">
        <span class="username">{{ leftUser.name.length <= 15 ? leftUser.name : leftUser.name.substr(0, 15).split(' ')[0] }}</span>
    </div>
    <div class="canvas">
        <div id="pongCanvas">
            <div class='ball' #ballRef [style.left.%]="ballPosition[0]" [style.top.%]="ballPosition[1]"></div>
            <div class="paddle_1 paddle" #paddle1Ref></div>
            <div class="paddle_2 paddle" #paddle2Ref></div>
            <h1 class="player_1_score">{{ score1 }}</h1>
            <h1 class="player_2_score">{{ score2 }}</h1>
            <h1 class="message">{{ gameMessage }}</h1>
        </div>
    </div>
    <div class="user-info user-info-right">
        <img class="user-picture" [src]="rightUser.picture" alt="User 2 Picture">
        <span class="username">{{ rightUser.name.length <= 15 ? rightUser.name : rightUser.name.substr(0, 15).split(' ')[0] }}</span>
    </div>
    <button class="button" *ngIf="gameState === 3" (click)="leaveGame()">Leave Game!</button>
</div>
<app-wait-for-the-game-page *ngIf="gameState === 0"></app-wait-for-the-game-page>
